<div class="body d-flex flex-column align-items-center justify-content-center">
    <img src="../../assets/11235950_11132.jpg" width="370px" alt="">
    <p class="p0 ">
        We are Sorry...
    </p>
    <p class="mb-1 p1">
        The Page you're trying to access has restricted access.
    </p>
    <p class="p1">
        Please check your credentials and try again!
    </p>
    <div class="d-flex mt-2 align-items-center">
        <button class="btn btn-primary me-3" routerLink="/signin">Login</button>
        <p class="m-0">or</p>
        <button class="btn btn-primary ms-3" routerLink="/signup">Sign Up</button>
    </div>
</div>