<div class="body">
    <div class="main">
        <div class="icon pt-3 d-flex align-items-center justify-content-center">
            <span class="material-symbols-outlined">
                lock_reset
            </span>
        </div>
        <form 
        novalidate
        #f="ngForm" class="form"
        (submit)="f.form.valid && updatePassword()">

        <div class="form-group mb-2" style="position: relative;">
            <label for="password" class="font1">
                New Password
            </label>
            <div class="input-group">
                <input type="password" id="password" class="form-control" placeholder="password" 
                name="password" #password #pass="ngModel"  [(ngModel)]="newPassword" 
                (ngModelChange)="ValidatePass()" (click)="passConditionShow = true"
                required
                pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':\\|,.<>/?])[A-Za-z\d!@#$%^&*()_+\-=[\]{};':\\|,.<>/?]{8,}$">

                <div class="input-group-text bg-primary text-white" 
                (click) ="password.type = password.type == 'text' ? 'password' : 'text' " 
                style="cursor: pointer;">
                    <div *ngIf="password.type == 'text'; then vis else novis"></div>
                    <ng-template #vis>
                        <span class="material-symbols-outlined" style="cursor: pointer;">
                            visibility
                            </span>
                    </ng-template>
                    <ng-template #novis>
                        <span class="material-symbols-outlined">
                            visibility_off
                            </span>
                    </ng-template>
                </div>
            </div>
            <span class="font3" *ngIf="submit && pass.errors?.['required']">
                Password is required<br>
            </span>
            <span class="font3" *ngIf="submit && pass.errors?.['pattern']">
                Password should match the following criteria
            </span>
            <div>
                <span class="material-symbols-outlined valid" style="right: 55px;top:30px"
                *ngIf="!pass.errors?.['required'] && !pass.errors?.['pattern']">
                check_circle
                </span>
                <span class="material-symbols-outlined invalid" style="right: 55px; top:30px"
                *ngIf=" submit && (pass.errors?.['required'] || pass.errors?.['pattern'])">
                error
                </span>
            </div>
        </div>

        <div class="pass-criteria collapse " [class.show]="passConditionShow" id="pass-condition" >
            <div class="row">
                <div class="col-5">
                    <div class="d-flex align-items-center font2" 
                    [style.color]= "passCond.u ? 'rgb(4, 141, 4)' : 'red'">
                        <span class="material-symbols-outlined px-2" style="font-size: 16px;" >
                            check_circle
                        </span>
                        one uppercase
                    </div>
                    <div class="d-flex align-items-center font2"
                    [style.color]= "passCond.l ? 'rgb(4, 141, 4)' : 'red'">
                        <span class="material-symbols-outlined px-2" style="font-size: 16px;" >
                            check_circle
                        </span>
                        one lowercase
                    </div>
                    <div class="d-flex align-items-center font2"
                    [style.color]= "passCond.n ? 'rgb(4, 141, 4)' : 'red'">
                        <span class="material-symbols-outlined px-2" style="font-size: 16px;" >
                            check_circle
                        </span>
                        one number
                    </div>
                    
                </div>
                <div class="col-7">
                    <div class="d-flex align-items-center font2"
                    [style.color]= "passCond.s ? 'rgb(4, 141, 4)' : 'red'">
                        <span class="material-symbols-outlined px-2" style="font-size: 16px;" >
                            check_circle
                        </span>
                        one special character
                    </div>
                    <div class="d-flex align-items-center font2"
                    [style.color]= "passCond.len ? 'rgb(4, 141, 4)' : 'red'">
                        <span class="material-symbols-outlined px-2" style="font-size: 16px;" >
                            check_circle
                        </span>
                        more than 8 character
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="cp" class="font1">
                Confirm Password
            </label>
            <input type="password" class="form-control" placeholder="confirm password" name="confirmpass" 
             #cp="ngModel" [(ngModel)]="confirmPassword" required (click)="cpFlag=false; passConditionShow=false">
             <span class="font3" *ngIf="submit && cp.errors?.['required']">
                This is required field<br>
            </span>
            <span class="font3" *ngIf="cpFlag && confirmPassword!=newPassword">
                Both passwords should be same!
            </span>
        </div>

        <button class="btn btn-primary w-100" type="submit" (click)="submit=true; cpFlag=true">Reset Password</button>

        </form>
    </div>
</div>