.body{
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(#0d6efd 50%, #fff 50%);

    .main{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 370px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

        .form{
            width: 340px;
            margin: 10px 15px 20px 15px;
        }

        .valid{
            position: absolute;
            top: 7px;
            right: 5px; 
            z-index: 10;
            color:rgb(4, 141, 4)
        }

        .invalid{
            @extend .valid;
            color: red;
        }

        .font1{
            opacity: 0.9;
            font-size: 0.9rem;
            font-weight: 500;
        }

        .font{
            font-size: 14px;
            font-weight: 500;
            opacity: 0.9;
            text-align: center;
        }

        .font2{
            @extend .font1;
            opacity: 0.8;
            font-size: 0.9rem;
        }

        .font3{
            font-size: 12px;
            font-weight: 500;
            color: red;
        }
    }

    .icon{
        height: 100px;
        span{
            font-size: 64px;
            color: #0d6efd;
            font-weight: 700;
        }
    }
}