.body{
    padding-top: 56px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .e404{
        background-color: #0d6efd1a;
        color: rgba(13, 110, 253, 1);
        border-radius: 10px;
        font-weight: 500;
    }
    .p0{
        margin-top: 20px;
        font-size: 32px;
        font-weight: 500;
    }
    
}