<div class="body">
    <!-- <div class="color1">
    </div>
    <div class="color2">

    </div> -->

        
        <div class="main" >
            <div class="icon pt-3 d-flex align-items-center justify-content-center">
                <span class="material-symbols-outlined">
                    lock
                </span>
            </div>
            <div  *ngIf="this.rc.flag.otpsent; then text1 else text0"> 
            </div>
            <ng-template #text0>
                <p class="px-4 font">
                    Enter the email linked to your account and we'll send the OTP to reset your password!
                </p>    
            </ng-template>
            <ng-template #text1>
                <p class="px-4 font" >
                    OTP has been successfully sent to 
                    <span class="mt-1 text-primary">
                        {{userData.mail}}
                    </span>
                   
                </p>
            </ng-template>

            <form class="form px-4"
            #f="ngForm" novalidate
            (ngSubmit)="f.form.valid  && sendOtp() ">

                <div *ngIf="this.rc.flag.otpsent; then otp else email">

                </div>

                <ng-template #otp>
                    <div class="d-flex justify-content-center">
                        <div class="form-group mb-2 ">
                            <label for="otp" class="font">Enter OTP and click verify!</label>
                            <input type="text" id="otp" name="otp" class="form-control" maxlength="4" pattern="[0-9]{6}" 
                            autocomplete="off" required [(ngModel)]="userData.otp">
                            
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-center" *ngIf="otpTimeOut">
                        <p class="font">Resend OTP in {{otpTimeOut}} seconds</p>
                    </div>

                    <div class="font text-danger text-center" style="cursor: pointer;" 
                    *ngIf="!otpTimeOut" (click)="sendOtp('r')">
                        Resend OTP
                    </div>
                    
                </ng-template>

                <ng-template #email >

                    <div class="form-group mb-2" style="position: relative;">
                    
                        <input type="email" id="email" class="form-control" placeholder="user@mail.com"
                        [(ngModel)]="userData.mail" name="email"
                        #email="ngModel" autocomplete="off"
                        required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                        <span class=" font3" *ngIf="submit && email.errors?.['required']">
                            Email is required
                        </span>
                        <span class=" font3" *ngIf="submit && email.errors?.['pattern']">
                            Invalid email
                        </span>
                        <span class=" font3" *ngIf="submit && userNotFound">
                            User not found!
                        </span>
                        <div>
                            <span class="material-symbols-outlined valid"
                            *ngIf="!email.errors?.['required'] && !email.errors?.['pattern']">
                            check_circle
                            </span>
                            <span class="material-symbols-outlined invalid"
                            *ngIf=" submit && (email.errors?.['required'] || email.errors?.['pattern'])">
                            error
                            </span>
                        </div>
                    </div>
                </ng-template>

                <!-- <div class="form-group mb-2" style="position: relative;">
                    <label for="password" class="font1">
                        Password
                    </label>
                    <div class="input-group">
                        <input type="password" id="password" class="form-control" placeholder="password" 
                        name="password" #password #pass="ngModel"  [(ngModel)]="signInData.password" 
                        required>

                        <div class="input-group-text bg-primary text-white" 
                        (click) ="password.type = password.type == 'text' ? 'password' : 'text' " 
                        style="cursor: pointer;">
                            <div *ngIf="password.type == 'text'; then vis else novis"></div>
                            <ng-template #vis>
                                <span class="material-symbols-outlined" style="cursor: pointer;">
                                    visibility
                                    </span>
                            </ng-template>
                            <ng-template #novis>
                                <span class="material-symbols-outlined">
                                    visibility_off
                                    </span>
                            </ng-template>
                        </div>
                    </div>
                    <span class="font3" *ngIf="submit && pass.errors?.['required']">
                        Password is required<br>
                    </span>
                    <span class="font3" *ngIf="submit && passIncorrect">
                        Incorrect password!
                    </span>
                    <div>
                        <span class="material-symbols-outlined valid" style="right: 55px;"
                        *ngIf="!pass.errors?.['required'] && !pass.errors?.['pattern']">
                        check_circle
                        </span>
                        <span class="material-symbols-outlined invalid" style="right: 55px;"
                        *ngIf=" submit && (pass.errors?.['required'] || pass.errors?.['pattern'])">
                        error
                        </span>
                    </div>
                </div> -->

                
    
                <button class="btn btn-primary mt-3 mb-4 w-100" type="submit" (click)="submit= true" [disabled]="loader">
                    <div *ngIf="loader; then load else (this.rc.flag.otpsent ? verify : getotp)"></div>
                    <ng-template #load>
                    <div class="spinner-border spinner-border-sm text-light" ></div>
                    </ng-template>
                    <ng-template #getotp>
                        Get OTP
                    </ng-template>
                    <ng-template #verify>
                        Verify OTP!
                    </ng-template>
                </button>
                
                <div href="javascript:void(0)" *ngIf="this.rc.flag.otpsent" class="font3 text-center mb-3" 
                 (click)="this.rc.flag.otpsent = false; otpTimeOut = 120" style="cursor: pointer;">
                    Wrong email? Click here
                </div>

            </form>

        </div>

</div>